*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Questrial', sans-serif;
}

body{
  background-color: #ECEEED;
  width: 100%;
  height: 100vh;
}

.higher{
  background-color: #84AF9B;
  color: #fc9d99;
  height: 100%;
}

.input-post{
  height: 10vh;
  border: 3px dotted #999;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.post-published {
  margin-top: 4%;
text-transform: uppercase;
}

.style-fondo{
  background-image: url('../assets/images/modal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 95%;
	justify-content: flex-end;
}

.logo{
  color: #fc9d99;
  font-family: 'Ranga', sans-serif;
  font-size: 45px;
  margin-top: 8px;
  text-decoration: none;
}
.search{
  background-color: gray;
}
.icons{
  color: #fc9d99;
  margin-top: 20px;
}
.perfil{
  margin-top: 30px;
}

.style-li-prolife{
  font-size: 30px;
  background-color: #fc9d99;
}
.user {
  width: 100vw;
}
@media (min-width: 1200px) {
  .style-li-prolife{
    width: 20%;
  }
}
