*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Questrial', sans-serif;
}

body{
  background-color: #ECEEED;
  width: 100%;
  height: 100vh;
}

.higher{
  background-color: #84AF9B;
  color: #fc9d99;
  height: 100%;
}
