<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Ranga:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/Bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="../css/homepage.css">
  </head>
  <body>
    <div class="container-flex">
      <div class="row">
        <div class="higher col-xs-12 col-md-12">
          <a class="logo col-xs-4 col-md-2" href="#">Deglú</a>
          <div class="text-center col-xs-6 col-md-8">
            <form class="navbar-form" role="search">
              <div class="input-group add-on">
                <input class="search form-control" placeholder="Buscar" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </form>
          </div>
          <a href="#"><i class="text-center icons col-xs-1 col-md-1 fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="icon-prolife text-center icons col-xs-1 col-md-1 fa fa-user fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <!--Movile-->
    <div class="container-flex">
      <div class="row">
        <div class="visible-lg-xs-md-block col-xs-offset-1 col-md-10 col-xs-10">
          <div class="col-xs-offset-1  col-md-10 col-xs-10">
              <img class="col-xs-offset-3 col-md-6 col-xs-6" src="../assets/images/pastel.png" alt="">
              <input class="input-post form-control input-lg" type="text" placeholder="Comparte" data-toggle="modal" data-target="#post">
          </div>
          <div class="post-published ">
            <div class="posit" >
              <div class="add-post-name text "></div>
              <div class="add-post-img"></div>
              <div class="add-post-content text "></div>
            </div>           
          </div>
        </div>
      </div>
    </div>
    <!--Modal para realizar un post-->
    <div class="modal-post modal fade" id="post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="style-fondo modal-dialog" role="document">
        <div class="style-fondo modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul class="nav nav-tabs">
              <li role="presentation" class="btn-photo-style active btn-photo"><a href="#">Fotos / Videos</a></li>
              <li role="presentation" class="btn-recipe-style btn-recipe"><a href="#">Recetas</a></li>
            </ul>
          </div>
          <div class="modal-body">
            <div class="photo">
              <form>
                <div class="form-group">
                  <label class="form-style" for="exampleInputEmail1">Nombre</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Escribe el nombre de la imágen">
                </div>
                <div class="form-group">
                <!-- <div>
                  <div id="preview2" class="thumbnail preview">
                    <a href="#" id="file-select" datafile='#file2' datafileinfo='#file-info2' dataimg='#img2' numero='2' class="btn btn-default file-select">Elegir archivo</a>
                    <img id='img2' src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4="
                    />                
                  </div>
                  <input id="file2" class='file' name="{{campo.name}} " type="file" />
                </div> -->
                </div>             
                
              </form>
            </div>
            <div class="recipe">
              <form>
                <div class="form-group">
                  <label class="form-style" for="exampleInputEmail1">Nombre</label>
                  <input type="email" class="name-recipe form-control" id="exampleInputEmail1" placeholder="Escribe el nombre de la imágen">
                </div>
                <div class="form-group">
                <div>
                  <div id="preview2" class="thumbnail preview">
                    <a href="#" id="file-select" datafile='#file2' datafileinfo='#file-info2' dataimg='#img2' numero='2' class="btn btn-default file-select">Elegir archivo</a>
                    <img id='img2' src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4="
                    />                
                  </div>
                  <input id="file2" class='file' name="{{campo.name}} " type="file" />
                </div>
                </div>
                <div class="form-group">
                  <label class="form-style" for="exampleInputFile">Receta</label>
                  <textarea class="textarea form-control" rows="3"></textarea>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn-to-post btn btn-primary btn-lg active" disabled>Publicar</button>
          </div>
        </div>
      </div>
    </div>
    <!--Desckot-->
    <div class="container-flex">
      <div class="row">
        <div class="col-md-offset-1 col-xs-offset-1 col-md-10 col-xs-10 visible-lg-xs-md-block">
          <a class=" user img-responsive" href="#"><img src="../assets/images/user.png" alt="" class="perfil col-md-offset-1 col-xs-2 col-md-2 img-person img-circle"></a>
          <!-- <div class="content-information"></div> -->
        </div>
      </div>
    </div>
    <hr>
    <div class="container-flex">
      <div class="row">
        <div class="col-md-offset-1  col-md-10 visible-lg-block">
          <ul class="text-center col-xs-10  nav">
            <li class="btn-information style-li-prolife" role="presentation" class="active"><a href="#">Información</a></li>
            <li class="style-li-prolife" role="presentation"><a href="#">Amigos</a></li>
            <li class="style-li-prolife" role="presentation"><a href="#">Fotos</a></li>
            <li class="style-li-prolife" role="presentation"><a href="#">Videos</a></li>
            <li class="style-li-prolife" role="presentation"><a href="#">Recetas</a></li>
          </ul>
          <div class="text-center col-md-5 col-xs-5">
            <div class="visible-xs-block col-md-offset-1 col-xs-5 col-md-5">
              <div class="col-md-offset-1 col-xs-offset-1 col-xs-10 col-md-10">
                  <img class="col-md-offset-3 col-xs-offset-1 col-xs-6 col-md-6" src="../assets/images/pastel.png" alt="">
                  <input class="input-post form-control input-lg" type="text" placeholder="Comparte" data-toggle="modal" data-target="#post">
              </div>
              <div class="post-published">
                <div class="add-post-name col-xs-8 col-md-8"></div>
                <div class="add-post-img col-xs-4 col-md-4"></div>
                <div class="add-post-content col-xs-8 col-md-8"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/Bootstrap/js/Bootstrap.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="../js/homepage.js"></script>
    <script type="text/javascript" src="../js/redireccionando.js"></script>
  </body>
</html>
